.btn
    padding 10px 20px
    font-size 1.1em
    font-weight 400
    border none
    display inline-block

.btn-small
    padding 5px 10px

.btn-primary
    background-color primary-color
    transition ease-out .4s

    &:hover
        cursor pointer
        background-color darken(primary-color, 20%)
        text-decoration none
        transition all .2s

    &:focus
        outline none
