{% load cms_tags static %}

<section class="slider ida-components">
    <div class="slider__header container">
        {% if instance.title %}
            <h2 class="section-title">{{ instance.title }}</h2>
        {% endif %}
    </div>
    <!-- Slider main container -->
    <div class="swiper-container" id="{{ instance.id }}">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            {% for plugin in instance.child_plugin_instances %}
                {% render_plugin plugin %}
            {% endfor %}
        </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-nav prev" id="{{ instance.id }}prev"><img
        src="{% static 'images/icons/navigation/chevron-primary-left.png' %}" alt="Icon left"></div>
    <div class="swiper-nav next" id="{{ instance.id }}next"><img
        src="{% static 'images/icons/navigation/chevron-primary-right.png' %}" alt="Icon right"></div>
</section>

{% block extra_scripts %}
    <script>
        {# We need to wait for main js to be ready #}
        document.addEventListener("DOMContentLoaded", function (event) {
            render_slider({
                name: "#{{ instance.id }}",
                slidesPerView: {{ number_of_child }},
                effect: 'slide',
                spaceBetween: 10,
                centeredSlides: true,
            });
        });
    </script>
{% endblock %}
